:root{
    --main: rgb(199, 60, 192);
    --2nd: rgb(118, 30, 180);
    --3rd: rgb(201, 155, 247);
    --4th: rgb(239, 233, 240);
}


.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid var(--2nd);
    background-color: var(--3rd);
}

.choices {
   padding: 1.5rem 2.5rem;
   background-color: var(--4th); 
}
.choice-text {
    padding: 1.5rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem var(--2nd);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.timer-box {
    padding: 1.2rem;
    background-color: var(--2nd);
    width: 15rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    margin-left: 30rem;
    color: white;
    border-radius: 1rem;
    font-size: 1.5rem;
       
}

.timer-box p {
    padding-left: 0.6rem;
    color: white;
    
}
