body {
    background-color: lightblue;
}
.container {
    text-align: center;
    padding-top: 20em;
}
.container h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: teal;
    font-weight: bold;
    text-shadow: 1px 0px 10px white;   
}
#quiz-container {
    text-align: center;
    padding-top: 15em;
}
#question {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    background-color: teal;
    color: white
}
#choices {
    display: inline-flex;
    flex-direction: column;
   
}
#choices button {
    font-size: 1.2em;
    cursor: pointer;
    padding: 0.5em;
    margin: 0.2em;
  
}
#next {
    margin-left: 40em;
    margin-top: 7em;
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: plum;
    border-radius: 2em;
}

/* Color changes for right and wrong */
.correct-choice {
    background-color: green;
}
.incorrect-choice {
    background-color: red;
}

#highScoresList {
    list-style: none;
    font-size: 2em;
    padding-right: 1em;
    
}
.home-btn {
    background-color: teal;
    text-decoration: none;
    padding: 0.5em;
    color: white;
    border-radius: 0.5em;
}

#timer {
   background-color: white;
   display: inline-block;
   text-align: center;
   padding: 0.2em 3em;
   border-radius: 1em;
   margin-left: 25em;
}
#timer p {
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#time {
    color: red;
}